/* Header.css */
.header {
    z-index: 1000; /* Asigură-te că este deasupra altor elemente */
    background-color: #ff4500;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.logo h1 {
    font-family: 'Brush Script MT', cursive;
}

nav {
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

.cart-info {
    font-size: 18px;
    font-weight: bold;
}
