/* Asigură-te că html și body ocupă întreaga înălțime a ferestrei */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f7f7f7; /* Fundal default pentru tot site-ul */
}

#root {
  min-height: 100vh; /* Folosim 100vh pentru a ocupa întreaga înălțime a ecranului */
  display: flex;
  flex-direction: column;
}

header {
  flex-shrink: 0;
}

main {
  flex-grow: 1;
}

footer {
  flex-shrink: 0;
}